.jumbotron {
  height: 200px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode {
  background-color: rgb(24, 23, 23);
  color: aliceblue;
}
